{% extends 'layouts/base.html.twig' %}

{% block title 'Find all the best pins on earth' %}

{% block body %}
    {% if pins|length > 0 %}

            <div class="col-md-8 mx-auto">
                <h1 class="mb-4 text-center text-muted">{{ pluralize(pins|length, 'Pin') }} </h1>
            </div>

                {#    {{ dump(pins) }}#}

        {% for row in pins|batch(3) %}
            <div class="row mb-5">
                {% for pin in row %}

                    <div class="col-md-4">
                        <article class="pin bg-white rounded shadow">
                           <div class="mw-100 overflow-hidden">
                               <a href="{{ path('app_pins_show', {id: pin.id}) }}">
                                   <img src="{{ (pin.imageName ?  vich_uploader_asset(pin) : asset('build/images/default.jpg')) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ pin.title }}" class="w-100 rounded-top">
                               </a>
                           </div>
                            <h2 class="pl-3 pt-3 h5"><a class="text-secondary text-decoration-none" href="{{ path('app_pins_show', {id: pin.id}) }}">{{ pin.title }}</a></h2>
{#                            <p>{{  pin.description | u.truncate(10, '...', false)}}</p>#}

                            <p class="pl-3 pb-03text-muted"><small>Submitted by [OWNER FULL NAME] | {{ pin.createdAt|ago }}</small></p>
                        </article>
                    </div>

                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p class="h1 text-center mt-5">No pins yet. <a href="{{ path('app_pins_create') }}">Be the first !</a></p>
    {% endif %}

{% endblock %}
