{% extends 'layouts/base.html.twig' %}

{% block title pin.title %}

{% block body %}

    <div class="row">
        <div class="col-md-8 mx-auto">
            <article class="pin bg-white rounded shadow">
                <div class="mw-100 rounded-top overflow-hidden">
                    <a href="{{ path('app_pins_show', {id: pin.id}) }}">
                        <img src="{{ (pin.imageName ?  vich_uploader_asset(pin) : asset('build/images/default.jpg')) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ pin.title }}" class="w-100">
                    </a>
                </div>
                <h1 class="pl-3 pt-3 h5"><a class="text-secondary text-decoration-none" href="{{ path('app_pins_show', {id: pin.id}) }}">{{ pin.title }}</a></h1>
                {#                            <p>{{  pin.description | u.truncate(10, '...', false)}}</p>#}

                <p class="pl-3 pb-03text-muted">
                    <small>Submitted by [OWNER FULL NAME] |
                        <time datetime="{{ pin.createdAt|date('Y-m-d H:i:s') }}">{{ pin.createdAt|ago }}</time>


                    </small></p>

                <p class="pl-3 pb-3">{{ pin.description }}</p>
            </article>

            <hr>

            <div class="pl-3 pb-3">
                <a class="btn btn-light" href="{{ path('app_pins_edit', {id: pin.id}) }}">Edit</a> |

                <a class="btn btn-light"  href="#" onclick="event.preventDefault(); confirm('Are you sure ?') &&
                    document.getElementById('js-pin-delete-form').submit();">Delete</a> |

                <a class="btn btn-light" href="{{ path('app_home') }}">Go Back</a>

                <form id="js-pin-delete-form" action="{{ path('app_pins_delete', {id: pin.id}) }}" method="post" style="display: none">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token('pin_deletion_' ~ pin.id) }}">
                    <input type="hidden" name="_method" value="DELETE">
                </form>
            </div>
        </div>
    </div>

{% endblock %}
